name: CI Training & Docker Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_REPO_OWNER }}/${{ secrets.DAGSHUB_REPO_NAME }}.mlflow
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_REPO_OWNER }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install Dependencies
        run: |
          pip install mlflow==2.19.0 dagshub pandas numpy scikit-learn virtualenv

      - name: Run Training (MLflow)

        run: |
          mlflow run MLProject --env-manager=local

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        run: |
          # --- PERBAIKAN DI SINI (Tambahkan --env-manager=local agar script python jalan) ---
          LAST_RUN_ID=$(python -c "import mlflow; mlflow.set_tracking_uri('${{ env.MLFLOW_TRACKING_URI }}'); runs = mlflow.search_runs(experiment_names=['Automated_CI_Training']); print(runs.iloc[0].run_id)")
          
          echo "Building Docker for Run ID: $LAST_RUN_ID"
          
          mlflow models build-docker \
            -m "runs:/$LAST_RUN_ID/model_rf_final" \
            -n "${{ secrets.DOCKER_USERNAME }}/email-spam-project:latest" \
            --enable-mlserver

          docker push ${{ secrets.DOCKER_USERNAME }}/email-spam-project:latest